@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

*{
    font-family: 'Red Hat Display', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #000;
	position: fixed;
}

h1 {
	font-size: 4.375rem;
	color: #fff;
	position: absolute;
	top: 1rem;
	left: 48%;
	text-align: center;
	margin: 0;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;
}

p{
	font-size: 16px;
}

button{
	background: none;
	outline: none;
	border: none;
}

.fechar {
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;
	cursor: pointer;
}

.fechar img {
	width: 2rem;
	height: 2rem;
}

.input-container {
    background-color: #ffffff;
	width: 52.5%;
    height: 50px;
	display: flex;
	position: absolute;
	bottom: 2rem;
	left: 35%;
    transform: translate(0px,0px);
	border-radius: 5px;
}
  
.enviar img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
    width: 1.8rem;
    cursor: pointer;
}

#pergunta {
    font-size: 18px;
    width: 15.625rem;
	background-color: #ffffff;
    color: #000;
	border-radius: 5px;
	padding-left: 10px ;
	border: none;
    outline: none;
}

#resposta {
	width: 50%;
	padding: 1.25rem;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	position: absolute;
	top: 36%;
	left: 35%;
}

#resposta h2 {
	margin-top: 0;
}

