

.Astro h1{
    position: absolute;
    width: 350px;
    height: 35px;
    left: 20%;
    top: 25px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
}    

.Astro{
    position: relative;
    width: 450px;
    height: 320px;
    align-items: center;
    background: #272F5D;
    border-radius: 25px;
    margin-block: 1rem;
}

.Astro p{
    position: absolute;
    width: 235px;
    height: 90px;
    left: 38%;
    top: 40%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.Astro img{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 10px;
    top: 28%;
    border-radius:25px;
}

.Astro button{
    position: absolute;
    width: 150px;
    height: 45px;
    left: 32%;
    top: 260px;
    background-color: rgba(0, 200, 216, 0.5);
    border-radius: 25px;
    color:white;
    border: none;
}


.constelacao h1{
    position: absolute;
    width: 350px;
    height: 35px;
    left: 10%;
    top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    text-align: center;
}

.constelacao {
    position: relative;
    width: 450px;
    height: 320px;
    align-items: center;
    border-radius: 25px;
    background: #61669080;
    margin-block: 1rem;
}

.constelacao p{
    position: absolute;
    width: 235px;
    height: 90px;
    left: 38%;
    top: 40%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.constelacao img{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 10px;
    top: 28%;
    border-radius:25px;

}

.constelacao button{
    position: absolute;
    width: 150px;
    height: 45px;
    left: 35%;
    top: 260px;
    background: #E4B378;;
    border-radius: 25px;
    color:white;
    border: none;
}

@media (min-width: 1920px) {
    .constelacao {

    }
}